<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
    <title>Курсы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(subjects)}">
        <h2>Курсы</h2>
        <table class="table table-striped">
            <tr>
                <th>Курс</th>
                <th>К результатам</th>
                <th>К тестам</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.name}">Курс</td>
                <!--<td><a th:href="${'/results/' + subject.id}">К результатам</a></td>-->
                <td><a th:href="${'/results/' + subject.id}">К результатам</a></td>
                <td><a th:href="${'/tests/' + subject.id}">К тестам</a></td>
                <td><a th:href="${'/subject/delete/' + subject.id}">Удалить</a></td>
            </tr>

        </table>
    </div>
    <div>
        <form action="#" th:action="@{/subject}" th:object="${subject}" method="post">
            <p>Название: <input type="text" th:field="*{name}"/> <input type="submit" value="Добавить"/></p>
        </form>
    </div>
    <div>
        <a th:href="${'/groups'}">К группам</a>
    </div>
</div>
</body>
</html>

